body{
  margin: 0;
	font-family: "Noto Sans","Microsoft JhengHei";
  letter-spacing: normal;
  background-color: darkseagreen;
}
a {
  text-decoration: none;
}
/* 下面是頁首的設定 */
.wrap-content {
  box-sizing: border-box;
  width: 1024px;
}
.header-content{
  position: sticky;
  top: 0;
  border: antiquewhite 5px solid;
  background-color: palegreen;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.search {
  position: relative;
  float: left;
}
.search-bar {
  width: 90%;
  height: 32px;
  font-size: 20px;
  border: 3px solid #3D1101;
  background-color: #efe9e7;
}
.search-btn {
  width: 36px;
  height: 32px;
  background-color: chocolate;
  color:#efe9e7;
  outline: none;
  border: 3px solid #3D1101;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar {
  border: #ffb500 3px solid;
}
.collapse {
  background-color: #3D1101;
}
.nav-item {
  background-color:wheat;
}
.dropdown-item {
  background-color:wheat;
}
.logo {
  font-family:"Fira Sans Extra Condensed", sans-serif;
  text-decoration: underline;
}
.link-text:hover {
  transition: all 0.2s;
  color: #ffb500;;
}
.content-img {
  margin: 0 auto;
  text-align: center;
}
/* 下面是文章主要區塊的設定 */
main {
  display: flex;
}
/* 左邊的po文欄 */
.side-menu {
  position: sticky;
  top: 70px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  float: left;
  border:3px solid #000;
  background: white;
  margin-bottom: auto;
  padding: 0 0 10px 0;
  /* overflow: visible;
  transition: 0.5s; */
}
label {
  width: 20px;
  height: 80px;
  background-color: #d1d1d1;
  color: #686666;
  position: absolute;
  right: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 80px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
}
#side-menu-active:checked + .side-menu {
  transform: translateX(-100%);
  transition: 0.5s;

  label .fas {
    transform: scaleX(-1);
  }
}
#side-menu-active {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.side-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  float: left;
}
.side-title {
  background-color: #4e7d8b;
} 
/* 每個品項的設定 */
.side-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  float: left;
  border:3px solid #000;
  background: white;
  margin-bottom: auto;
  padding: 30px 30px 30px 30px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}
.side-footer {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-footer button {
  height: 150%;
  padding-left: 15px;
  padding-right: 15px;
}
.card {
  border: none !important;
  padding:3px;
}
.card .title {
  color:#444444;
}
.card .text {
  color:#444444;
}
.card .pic{
  height: 100%;
}
.card .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .card-body{
  background-color:#f1f6fa !important;
}
.card-footer{
  margin-bottom: -10px;
}
.card-footer p{
  margin-bottom:0;
}

/* 右邊區域 */
.secondary-content {
  float: left;
  width: 70%;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work_title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.wrapper-work {
  width: min-content;
  break-inside: avoid;
  background: white;
  padding: 5px;
  margin: 1em 1em 1em 1em;
}
.wrapper-work img {
  width: 236px;
  height: 192px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  /* 判斷螢幕大小 還沒做 */
  .logo {
    font-size: small;
    margin-left: -20px;
  }
  .header-content .navbar {
    margin-right: -40px
  }
  /* .side-menu {
    position: sticky;
    top: 70px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: calc(100vh - 70px);
    float: left;
    border:3px solid #000;
    background: white;
    margin-bottom: auto;
    padding: 0 0 10px 0;
    z-index: 2;
  }
  .secondary-content {
    position: absolute;
    z-index: -1;
    justify-content: center;
  } */
}


/* .header-nav {
  border: #ffb500 3px solid;
  background-color:wheat;
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
} */
/* ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 500px;
  font-size: large;
}
ul li{
  list-style: none;
  border: #262626 3px solid;
  transition: 0.5s;
}
ul li a {
  background: beige;
  display: block;
}
ul li a span {
  color: #262626;
  position: relative;
  display: inline-block;
}
ul li a span:nth-child(1) {
  background-color: white;
  width: 30px;
  text-align: center;
  padding: 20px;
  transition: 0.5s;
  color: #262626;
  border-right: #262626 5px solid;
}
ul li:hover a span:nth-child(1) {
  background: #f44336;
}
ul li a span:nth-child(1) .fas {
  transition: 0.5s;
}
ul li:hover a span:nth-child(1) .fas {
  transform: rotateY(360deg);
  color: #fff;
}
ul li a span:nth-child(2) {
  padding: 10px;
} */



/* .wrapper-selected-works {
  display: flex;
  align-items: stretch;
  width: 10%;
  column-width: 250px;
  column-gap: 40px;
} */
