* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans","Microsoft JhengHei";
    background: url(../images/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg);
    background-size: cover;
    background-position: center;
}

/* 下面是頁首的設定 */
.wrap-content {
    box-sizing: border-box;
    width: 1024px;
}
.header-content{
    position: sticky;
    top: 0;
    border: antiquewhite 5px solid;
    background-color: palegreen;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1;
}
.search {
    position: relative;
    float: left;
}
.search-bar {
    width: 90%;
    height: 32px;
    font-size: 20px;
    border: 3px solid #3D1101;
    background-color: #efe9e7;
}
.search-btn {
    width: 36px;
    height: 32px;
    background-color: chocolate;
    color:#efe9e7;
    outline: none;
    border: 3px solid #3D1101;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
  
.navbar {
    border: #ffb500 3px solid;
}
.collapse {
    background-color: #3D1101;
}
.nav-item {
    background-color:wheat;
}
.dropdown-item {
    background-color:wheat;
}
.logo {
    font-family:"Fira Sans Extra Condensed", sans-serif;
    text-decoration: underline;
}
.link-text:hover {
    transition: all 0.2s;
    color: #ffb500;;
}
.content-img {
    margin: 0 auto;
    text-align: center;
}

main {
    display: flex;
}

/* 資料呈現方式 */
#dataDisplay {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item {
    min-width: auto;
    margin: 3px;
    background-color: whitesmoke;
    border: 3px solid black;
}



/* .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */

/* .container img {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
} */